# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out
build
dist

# Production
.env.production.local
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
.vscode
.idea

# Capacitor
android/
ios/
.capacitor/

# PWA
public/sw.js
public/workbox-*.js
public/workbox-*.js.map

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
